/* Hair by Terry CSS August 2018 by rubicon.one */

/** TABLE OF CONTENTS
 *
 * 1. TYPOGRAPHY



 */ 


/*** TYPOGRAPHY ***/

@font-face {
  font-family: Bradley;
  src: url('assets/fonts/bradley.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Neuropol;
  src: url('assets/fonts/neuropol.ttf');
  font-weight: bold;
}

html {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}



/*** UNIVERSAL ***/

* {
  box-sizing: border-box; }

body, figure, h1, h2, h3, h4 {
  margin: 0; 
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 1.4em; }
}

/* Merge w/ other headers?? (font-size) */
header h1 {
  font-size: 3.288em; }

header h2 {
  font-size: 2.3em; }

header h3 {
  font-size: 1.8em; }

header h4 {
  font-size: 1.5em; }

p {
  font-size: 1.1em; 
}

ul {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0; }

figure, picture, img {
  width: 100%;
  height: auto;
}

hr {
  margin: 0;
}

.theme--grey {
  background-color: #f3f3f3;
}

.theme--dark {
  background-color: #3b3b3b;
  color: white;
}

.theme--black {
  background-color: #161616;
  color: white;
}

.theme--red {
  border: 3px solid red;
}

.panel[data-h-align="center"] {
  text-align: center;
  /*justify-content: center;*/
}

.panel[data-h-align="left"] {
  text-align: left;
}

.btn {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

/* Anchor Link Button */
.btn-link {
  border: 2px solid red;
  padding: 15px 40px;
}

.btn-active {
  color: red; }

.center {
  text-align: center;
}

.tab {}

.tab--primary {
  padding: 30px;
  background-color: #f3f3f3;
}

.panel[data-width="none"] {
  padding: 45px 0px;
}

/*.panel[data-pd-top="small"] {
  padding-top: 25px !important;
}*/

.panel[data-pd-top="none"] {
  padding-top: 0 !important;
}

.panel[data-pd-bottom="none"] {
  padding-bottom: 0 !important;
}

#primary-navigation {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  /*min-height: 66px;  Temporary (hopefully) solution -- find another if possible! */
  background-color: white;
  box-shadow: 0 0 5px #555b;
  z-index: 999;
}

#primary-navigation #gateway {
  margin-right: 35px;
}

#primary-navigation #gateway li {
  display: inline-block;
}

#primary-navigation #gateway a {
  display: inline-block;
  padding: 22px 10px;
  color: black;
  font-family: Roboto Condensed, sans-serif;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out;
}

#primary-navigation #gateway a:last-child {
  padding-right: 0;
}

#primary-navigation #gateway a:hover, 
#primary-navigation #gateway a:active {
  color: red;
}

#primary-navigation #gateway li.active a {
  color: red;
}

#header-wordmark {
  font-size: 25px;
  top: 0.9rem;
  position: relative;
  margin-left: 25px;
  margin-right: auto;
  text-decoration: none;
}

@media only screen and (max-width: 1023px) {
  #header-wordmark {
    font-size: 22px;
    top: 0.8rem;
  }
}

.wordmark-part-1 {
  font-family: Bradley;
  color: black;
}

.wordmark-part-2 {
  position: relative;
  top: 0.06rem; /* Realigns font vertically with the logo */
  font-family: Neuropol;
  color: red;
}

#menu-toggle {
  margin: 0;
  margin-right: 25px;
  padding: 12px 0px;
  border: 0;
  background-color: white;
    /*font-family: "FontAwesome";*/
  font-size: 30px;
  display: inline-block;
}

/*#menu-toggle:before {
  content: "\f131";
  font-family: "FontAwesome";
  font-size: 30px;
  display: inline-block;
}*/

#site-main {
  margin-top: 60px;
}

.panel[data-type="highlights"] .grid-container {
  display: grid;  
  grid-gap: 25px;
}

.panel[data-type="highlights"] .highlight .image-content {
  background-size: cover;
  background-position: 5%;
  width: 100%;
  height: 550px;
  /*opacity: 0.35;*/
}

.panel[data-type="highlights"] .highlight--mini .image-content {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.panel[data-type="highlights"] .content-side {
  display: inherit;
  grid-gap: inherit;
}

.panel[data-type="highlights"] .highlight,
.panel[data-type="highlights"] .highlight--mini {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel[data-type="highlights"] .highlight--mini {
  color: white;
  /*border: 6px lightgrey solid;*/
  /*box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.45);*/
}



.panel[data-v-align="center"] {
  text-align: center;
}




/*
.highlight--mini figure {
  height: 100%;
}

 Find solution to figure img class scheme! 
.highlight--mini img {
  width: 100%;
  height: 100%;
}*/

.panel[data-type="highlights"] .excerpt--overlay {  
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  /*font-size: 1.5em;*/
  font-weight: normal;
}

.panel[data-type="highlights"] .highlight .excerpt--overlay {
  /*font-size: 3.4em;*/
/*  left: 5%;
  text-align: left;*/
}

.panel[data-type="hero-image"] .excerpt--overlay {}

/*.panel[data-type="highlights"] .highlight:before {
  content: ' ';
  position: absolute;
  max-width: 340px;
  max-height: 240px;
  width: 27%;
  height: 37%;
  background-color: rgba(255, 255, 255, 0.3 );
}*/

.panel[data-type="highlights"] .highlight--mini:before {
  content: ' ';
  position: absolute;
  /*max-width: 340px;*/
  /*max-height: 240px;*/
  width: 27%;
  height: 37%;
  background-color: rgba(255, 255, 255, 0.3 );
}

.panel[data-type="highlights"] .highlight:after {
  /*content: ' ';*/
  position: absolute;
  width: 10%;
  height: 30%;
  /*border-top: 5px solid black;*/
  border-bottom: 5px solid black;
}

.panel[data-type="splash-image"][data-img-span="shrink"] .grid-container {
  grid-template-columns: 1fr 1fr;
}

.panel[data-type="splash-image"] .image-content {
  max-width: 100%;
  /*box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.45);*/
}


/*PANEL CONTENT FIX LATER
*/

.panel .content {
  padding: 30px;
}

.panel .content-flex {
  display: flex;
  flex-direction: column;
}


/*.panel[data-type="window"] .content {
  background-color:   
}
*/

/*.panel[data-type="selectors"] {



}*/





.panel[data-type="splash-image"][data-v-align="center"] .content {
  justify-content: center;
  border: 3px solid red;
}


.panel[data-type="splash-image"] .content .btn-link {
  margin-top: 25px;
  align-self: center;
}


.panel[data-type="splash-image"] .image-content {
  background-position: center;
  background-size: cover;
  height: 400px;
}




/*
.panel[data-type="icons"] .grid-container {
  display: flex;
  flex-flow: row wrap;  
  justify-content: center;
}

.panel[data-type="icons"] {
  padding-top: 0;
}

.panel[data-type="icons"] figure {
  width: 350px;
  width: 70%;
  max-width: 350px;
  margin: auto;
}

.panel[data-type="icons"] img {
  width: 100%;  
}*/

.panel[data-type="icons"] {
  padding: 60px;
}

.panel[data-type="icons"] i {
  font-size: 2.5em;
}

.panel[data-type="icons"] .grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.panel[data-type="icons"][data-content-per-row="3"] .icon-card {
  width: 33.33%;
  padding: 25px 0px;
}

.panel[data-type="selectors"] {
  display: flex;
  justify-content: space-between;
}


.panel[data-type="selectors"] ul {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  justify-content: inherit;
  padding-top: 20px;
  font-size: 18px;
}

.panel[data-type="selectors"] li {
  display: inline-block;
  width: 30%;
  border-bottom: 1px red solid;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-bottom: 5px;
  list-style-type: none;
}

.panel[data-type="selectors"] .btn {
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.15s ease-in-out color;
  cursor: pointer;
}

.panel[data-type="selectors"] .btn:hover {
  color: red;
}

.panel[data-type="tabs"] h4 {
  font-style: italic;
  font-weight: normal;
}

.tab--primary img {
  border: 1px lightgrey solid;
}

.tab--hidden {
  display: none; }

.tab-reveal {
  display: block; }

.panel[data-type="hero-image"][data-h-align="center"][data-v-align="center"] .grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel[data-type="hero-image"] .bg-img {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}

.panel[data-type="hero-image"] .content {
  position: absolute;
  /*font-size: 1.2em;*/
  padding: 0px 45px;
  color: white;
}

.panel[data-type="testimonials"] .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 75px;

  padding: 25px 0px;
}

.panel[data-type="testimonials"] .box-content {
  /*width: 50%;*/
  padding: 45px;
  border: 3px red solid;
  text-align: center;
  /*box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.25);*/
}

.panel[data-type="testimonials"] .box-header i {
  font-size: 3em;
  /*margin-right: 15px;*/
}

.panel[data-type="testimonials"] .caption {
  font-size: 1.3em;
  /*font-style: italic;*/
}

/*.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
*/

.panel[data-type="window"] .grid-container,
.panel[data-type="splash-image"] .grid-container,
#contact .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}




















@media only screen and (max-width: 988px) {
  .panel[data-type="testimonials"] .grid-container {
    grid-template-columns: none;
  }
}

.panel[data-img-h="span"][data-content-per-row="2"] .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 125px;
  padding-top: 45px;
}

.panel[data-type="stylists"] .box-content {
  position: relative;
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.25);
}

.panel[data-type="stylists"][data-img-h="span"] .content {
  position: absolute;
  bottom: 5%;
  right: 10%;
  background-color: white;
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.25);
  font-size: 1.5em;
  width: max-content;
  padding: 25px 35px;

}

.panel[data-type="window"] .services-header {
  /*font-size: 2em;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel[data-type="window"] .service-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.panel[data-type="window"] .service-title:after {
  content: '';
  border-top: 1px solid red;
  display: block;
  flex-grow: 1;
  margin: 0 10px;
}

.panel[data-type="window"] .tab--primary {
  background-color: #f3f3f3;
  padding: 30px;
}

.panel[data-type="window"] .tab {}

.panel[data-type="brands"] .grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-gap: 50px;
  margin: 50px 0;
}

.panel[data-type="brands"] .logo-l {
  width: 50%;
  margin: 0 auto;
}

#gmap_canvas {
  width: 100%;
}










/** MOBILE OPTIMIZATIONS **/

body { /* FONT SIZE */ }

/*** PADDING ***/

.panel[data-width="full"], .panel[data-width="compact"], .panel[data-width="super-compact"] {
  padding: calc(0% + 25px) 27.5px;
}

@media only screen and (max-width: 575px) {

  .panel[data-width="full"], .panel[data-width="compact"] {
    padding: 20px 20px;
  }

  .panel[data-width="super-compact"] {
    padding: calc(0% + 40px) 20px;
  }


}

/** FONT SIZE **/

@media only screen and (max-width: 575px) {
  p { font-size: 1em; }

  header h1 { font-size: 2.5em; }

} 


@media only screen and (min-width: 576px) and (max-width: 1149px) {}

@media only screen and (min-width: 1150px) {}

@media only screen and (min-width: 1500px) {} 


@media only screen and (min-width: 1024px) {
  .panel[data-width="compact"] {
    padding: 45px 90px;
  }

  .panel[data-width="super-compact"] {
    padding: 45px 15%;
  }
}








/* FORMATTING */

@media only screen and (max-width: 650px) {

  #contact .grid-container,
  .panel[data-img-h="span"][data-content-per-row="2"] .grid-container {
    grid-template-columns: none;
  }
}


/* NAVBAR */

@media only screen and (max-width: 1023px) {
  #primary-navigation #gateway {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #menu-toggle {
    display: none;
  }
}


/* LANDING PAGE */

@media only screen and (max-width: 575px) { /* FONT SIZES */

  .panel[data-type="highlights"] #highlight--wordmark {
    font-size: 2.8em;
    margin: 10% 0;
  } 

  .panel[data-type="highlights"] .highlight .btn {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="highlights"] .highlight .image-content {
    height: 650px;
    /*height: calc(1vw);*/
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="highlights"] .highlight .image-content {
    opacity: 0.35;
    background-position: 60%; 
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="highlights"] .highlight--mini:before {
    width: 75%;
    height: 30%;
  }
}

@media only screen and (min-width: 800px) {

  .panel[data-type="highlights"] .highlight .excerpt--overlay {
    /*font-size: 3.4em;*/
    left: 5%;
    text-align: left;
  }



}

/* ABOUT US */

@media only screen and (max-width: 575px) {
  .panel[data-type="selectors"] {
    flex-flow: column;
    align-items: center;
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="selectors"] ul {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="selectors"] li {
    background-color: #f3f3f3;
    border-bottom: none;
    padding: 15px 5px;
  }
}


@media only screen and (max-width: 575px) { 
  .panel[data-type="window"] .grid-container {
    grid-template-columns: none;
  }
}

@media only screen and (max-width: 575px) { 
  .panel[data-type="window"] .service-title:after {
    content: none;
  }

}

@media only screen and (max-width: 575px) { 
  .panel[data-type="selectors"] li:last-child {
    margin: 0;
  }
}


/* FORMATTING */

hr { margin: 15px 0; }

@media only screen and (min-width: 576px) { 

  hr { display: none; }

}


/** BRANDS SECTION **/

@media only screen and (max-width: 575px) {
  section[data-type="brands"] header>:last-child {
    font-size: 1.2em;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 575px) {
  .panel[data-type="brands"] .grid-container {
    grid-template-columns: none;
    padding: 0 20%;
  }
}




@media only screen and (max-width: 575px) {
  .panel[data-img-h="span"][data-content-per-row="2"] .grid-container {
    grid-gap: 50px;
    /*padding: 40px;*/
  }
}












@media only screen and (max-width: 649px) {
  .panel[data-type="splash-image"] .image-content {
    height: 250px;
  }


/*  .panel[data-type="highlights"] .highlight .image-content {
    height: 650px;
  }*/

  .panel[data-type="highlights"] .highlight--mini:before {
    /*width: 70%;
    height: 30%;*/
  }
}

@media only screen and (min-width: 650px) and (max-width: 1149px) {

/*  .panel[data-type="highlights"] .highlight .image-content {
    height: 500px;
  }*/

  .panel[data-type="highlights"] .content-side {
    grid-template-columns: 1fr 1fr;
  }

  .panel[data-type="highlights"] .highlight--mini:before {
    width: 35%;
    height: 45%;
  }
}

@media only screen and (max-width: 1149px) {
  .panel[data-type="highlights"] .highlight--mini .image-content {
    height: 300px !important;
  }
}




@media only screen and (min-width: 1150px) {
  .panel[data-type="highlights"] .grid-container {
    grid-template-columns: 1.9fr 1fr;
  }

}

@media only screen and (min-width: 1500px) {
  .panel[data-type="highlights"] .highlight--mini:before {
    width: 20%;
    height: 30%;
  }
}






@media only screen and (min-width: 1024px) {

  .panel[data-type="splash-image"] .content .btn-link {
    /*align-self: center;*/
  }
}

@media only screen and (max-width: 1023px) {
  #primary-navigation #gateway {
    display: none;
  }

  .panel[data-type="splash-image"] .grid-container {
    grid-template-columns: none !important;
    grid-gap: 25px;
  }

  .panel[data-type="splash-image"] .content,
  .panel[data-type="tabs"] .content {
    text-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1500px) {
  .panel[data-type="highlights"] .grid-container {
    grid-template-columns: 3fr 1fr;
  }

  .panel[data-type="highlights"] .highlight .image-content {
    height: 750px;
  }
}

@media only screen and (max-width: 715px) {
  .panel[data-type="icons"] figure {
    width: 90%;
    margin: 20px 0px;
  }

  .panel[data-type="selectors"] li, 
  .panel[data-type="icons"][data-content-per-row="3"] .icon-card {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .highlight--mini .image-content {
    /*height: 300px !important;*/
  }

  .panel[data-type="splash-image"] .grid-container {
    /*grid-gap: 50px;*/
  }
}

